<form action="/purchases" method="POST">
  <label>Produk:</label>
  <select name="product_id">
    <% products.forEach(product => { %>
      <option value="<%= product.id %>"><%= product.name %></option>
    <% }) %>
  </select>

  <label>Jumlah:</label>
  <input type="number" name="quantity" min="1" required>

  <button type="submit">Beli Produk</button>
</form>
