body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}
h1 {
  color: #007bff;
}

table {
    border-collapse: separate; 
    border-spacing: 20px 0;
    width: 100%;
    border: 1px solid #ccc;
}